
.pokemoncard{
  background-color: blue;
  color: blanchedalmond;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8% 16% 16% 16%;
  border-radius: 12px;

}
figcaption{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: larger;
  font-weight: 600;
}
.button{
  background-color: blue;
  color: white;
}